[Desktop Entry]
Version=1.0
Type=Application
Name=File to IMG Converter
Comment=Convert any file into a raw .img disk image
Exec=ftimgc
Icon=drive-harddisk
Terminal=false
Categories=Utility;
